Source: libsiilihai
Section: libs
Priority: extra
Maintainer: Ville Ranki <ville.ranki@iki.fi>
Build-Depends: debhelper (>= 7.4.17), qtbase5-dev, qt5-default, qtdeclarative5-dev, cdbs (>= 0.4.87~), devscripts
Standards-Version: 3.9.5
Homepage: http://www.siilihai.com/

Package: libsiilihai2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Replaces: libsiilihai, libsiilihai1
Breaks: libsiilihai (<< 2.0-1~), libsiilihai1 (<< 2.0-1~)
Description: Siilihai forum reader support library
 Contains library for creating Siilihai web forum reader UI:s.

Package: libsiilihai2-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libsiilihai2 (= ${binary:Version})
Replaces: libsiilihai1-dbg
Pre-Depends: ${misc:Pre-Depends}
Description: Debug symbols for Siilihai forum reader support library
 Contains debug symbols for libsiilihai.

Package: libsiilihai2-dev
Section: libdevel
Architecture: all
Depends: libsiilihai2, qtbase5-dev
Replaces: libsiilihai1-dev
Pre-Depends: ${misc:Pre-Depends}
Description: Development files for libsiilihai
 Contains headers for libsiilihai.
